.flex {
    display: flex;
    gap: 10px;
}

table td {
    border-bottom: none;
}


.content {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    padding-bottom: 100px;
}


.box1 {
    background-color: var(--box1-color);
    padding: 20px;
    border-radius: 30px;
    width: 410px;
    -webkit-box-shadow: 1px 3px 13px -2px rgba(117,113,117,1);
    -moz-box-shadow: 1px 3px 13px -2px rgba(117,113,117,1);
    box-shadow: 1px 3px 13px -2px rgba(117,113,117,1);
    height: 50%;
}

/* profile */
.box1 .profile .image {
    width: 230px;
    height: 200px;
    margin: 0 auto;
}

.box1 .profile .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: cover;
    border-radius: 20px;
    -webkit-box-shadow: 1px 3px 7px -2px rgba(161,161,161,1);
-moz-box-shadow: 1px 3px 7px -2px rgba(161,161,161,1);
box-shadow: 1px 3px 7px -2px rgba(161,161,161,1);
}

.box1 .profile .name {
    /* background-color: aquamarine; */
    width: fit-content;
    margin: 0 auto;
    margin-top: 10px;
    align-items: center;
    gap: 20px;
}

.box1 .profile .name p {
    font-size: 25px;
    font-weight: 700;
    color: var(--text-color);
}

.box1 .profile .username,
.box1 .profile .noPhone
{
    gap: 10px;
}

.box1 .profile .name i {
    font-size: 16px;
}

.box1 .profile .name .active {
    color: #4CAF50;

}

.box1 .profile .name2,
.box1 .profile .email,
.box1 .profile .address,
.box1 .profile .dateJoined
{
    width: fit-content;
    /* margin-left: 40px; */
    color: var(--black-light-color);
}

.box1 .profile .name2 {
    font-weight: 400;
    gap: 100px;
    margin-top: 15px;
}

.box1 .profile .email {
   margin-top: 13px;
   gap: 10px;
}

.box1 .profile .address,
.box1 .profile .dateJoined
{
    margin-top: 13px;
}

/* box 2 */

.box2 h1 {
    color: var(--text-color);
}
.box2 .order, .box3{
    background-color: var(--box2-color);
    padding: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 1px 3px 13px -2px rgba(117,113,117,1);
    -moz-box-shadow: 1px 3px 13px -2px rgba(117,113,117,1);
    box-shadow: 1px 3px 13px -2px rgba(117,113,117,1);
}

.box2 table{
    margin-top: 10px;
}

.box2 .order {
    margin-bottom: 50px;
}

.box2 tr th, .box2 tr td {
    /* background-color: #4CAF50; */
    text-align: center;
}

.box2 tr th:last-child,
.box2 tr td:last-child
 {
    text-align: center;
}

.box2 .order tr th:nth-child(3) {
    /* background-color: aliceblue; */
    width: 44%;
}

.box2 .order tr th:nth-child(5) {
    /* background-color: aliceblue; */
    width: 20%;
}

.box2 .order tr th:last-child {
    width: 100%;
}

.box2 .order{
    /* background-color: aliceblue; */
    height: 60%;
    overflow-y: scroll;
}


.box3 {
    background-color: var(--box3-color);
    height: 400px;
    overflow-y: scroll;
    margin-top: -30px;
}

.box3 table th:nth-child(3) {
    /* background-color: aliceblue; */
    width: 40%;
}

.box3 table th:nth-child(4) {
    /* background-color: aliceblue; */
    width: 30%;
}

.box3 table th:nth-child(5) {
    /* background-color: aliceblue; */
    width: 20%;
}

.box3 table td:nth-child(4), 
.box3 table td:nth-child(5)
{
    text-align: center;
}

